@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400&display=swap');

:root{
  --bg-main: #131722;
  --color-main:#fff;
  --light-bg:#24baef;
  --border-color: #949cb0;

}
.text-gray{
  color: var(--border-color);
}
body{
  background-color: var(--bg-main);
  color: var(--color-main);
  font-family: 'Montserrat', sans-serif !important;
}
.brdr{
  background-color: var(--border-color);
  height: 1px;

}
.bg-main{
  background-color: var(--bg-main) !important;
}
nav{
  color: var(--color-main) !important;

}
h3{
  color: var(--light-bg);
}
footer{
  background-color : var(--bg-main)
}
.pointer{
  cursor: pointer;
}